
  body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#navbar{
    border-bottom: 1px solid #6CD9D9;
}
#navbar ul li{
    display: inline;
    padding: 2em;
}
#navbar a{
    color: #023059;
    font-size: 10px;
    letter-spacing: 0.4em;
    text-decoration: none;
    font-weight: bold;
}
#logo{
    padding: 8em;

}
#welcome-section{
    width: 54%;
    margin: 0 auto;
    text-align: left;
}
#introduction{
    color: #175073;
    font-size: 36px;
    font-weight: 100;
    line-height: 55px;
    margin: 0;
}
#more{
    color: #7796F2;
    font-size: 14px;
    letter-spacing: 0.4em;
    text-decoration: underline;
}
#navbar-category-projects{
    margin: 0 auto;
    margin-top: 6em;
    width: 50%;
}
#navbar-category-projects li{
    display: inline;
    padding: 1em;
    position: relative;
}
#navbar-category-projects li a{
    color: #609BBF;
    font-size: 15px;
    text-decoration: none;
}
#navbar-category-projects li a:hover{
    color: #175073;
    font-weight: bold;
}
#navbar-category-projects li a::before{
    content: "";
    width: 22px; 
    position: absolute;
    bottom: 12px;
}                     
#navbar-category-projects li a:hover::before{
    border-bottom: 3px solid #7796F2;
    left: 15px;
}
#projects {
    margin: 0 auto;
    width: 98%;
    height: 1192px;
    position: relative;
}
.project-tile{
    float: left;
    width: 31%;
    margin: 0;
    position: relative;
}
#item1, #item2, #item3{
    margin-left: 32px;
    margin-top: 37px;
}
#item4{
    position: absolute;
    top: 469px;
    left: 35px;
}
#item5{
    position: absolute;
    top: 631px;
    left: 625px;
}
#item6{
    position: absolute;
    top: 623px;
    left: 1215px;
}
.imgProject{
    width: 100%;
}
.seeMore{
    align-items: center;
    display: flex;
    height: 81%;
    position: absolute;
    top:0;
    width: 100%;
}
.seeMore:hover{
    background-color: rgba(61, 61, 149, 0.8);
    transition: background-color .5s;
    cursor: pointer;
}
.fa-plus{
    color: white;
    margin: 0 auto;
    font-size: 1.5em;
}
figcaption{
    text-align: left;
}
.project-name{
    color: #175073;
    font-family: 'Italiana', serif;
    font-size: 30px;
    margin: 0;
}
.category{
    color: #7796F2;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}
footer{
    background-color: rgb(247, 246, 246);
    padding: 1em;
    clear: left;
}
#footerMenu{
    padding: 3em;
}
#footerMenu li{
    display: inline;
    padding: 2em;
    font-weight: bold;
}
#footerMenu li a{
    color: #175073;
    font-size: 13px;
    letter-spacing: 0.4em;
    text-decoration: none;
}
.contact{
    color: #609BBF;
    font-family: 'Italiana', serif;
    font-size: 20px;
    margin: 5px;
}   
#logo-icon{
    margin: 4em;
}